<!DOCTYPE html>
<html>

<head>
    <title>
        SE 2018 JTA Task
    </title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body class="bg-dark">